<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="/static/images/edcanimation.gif" alt="Animation" style="max-width: 100%; display: block; margin: 0 auto;">
                <p style="margin-top: 10px; color: #ff6600;">POWERED BY THE <a href="https://arena2036.de/de/arena-x-projekt" style="color: #ff6600;">ARENA-X PROJECT</a></p>
            </div>
        </div>
    </div>
</footer>
